In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("D:/smsspamcollection/SMSSpamCollection",sep="\t",names=["label", "message"])
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.to_csv("data/raw_data.csv")

In [3]:
df.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [9]:
train,test_val=train_test_split(df,test_size=0.5,random_state=23)
val,test=train_test_split(test_val,test_size=0.6,random_state=23)

In [10]:
train.to_csv("data/train.csv")
val.to_csv("data/val.csv")
test.to_csv("data/test.csv")